# Ignore everything by default to keep the public repository as a clean Demo
*

# Do not ignore these specific files and folders
!.gitignore
!README.md
!LICENSE
!docker-compose.demo.yml
!docagent_clean_mvp/
!docagent_clean_mvp/**

# Ignore secrets and environment files
**/.env
**/.env.*
**/secret*
